body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.164) 1px, transparent 0);
    background-size: 20px 20px;
}

header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(119, 52, 52);
    padding: 0 300px 0 280px;
    font-family: "Bitcount Grid Single", system-ui;
    margin: 0;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 0;
}

.section-1 {
    padding: 100px 300px;
    font-size: 1.5em;
    background-image: url(/odin-landing-page/images/hellio42-ai-generated-8933697.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.left-side {
    margin: 0;
    padding: 0;
    height: 323.484px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2 {
    text-align: center;
    padding: 70px 400px 150px 400px;
    font-size: 1.5em;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: center;
    margin-top: 70px;
}

.card {
    width: 250px;
}

.card img {
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.199);
}

.section-3 {
    background-color: rgb(238, 238, 238);
    padding: 150px 400px;
    font-size: 2em;
    text-align: justify;
}

.quote {
    text-align: right;
    font-weight: 700;
}

.section-4 {
    padding: 150px 300px;
    font-size: 1.5em;
}

.apply-container {
    background-color: rgb(192, 112, 87);
    border-radius: 30px;
    padding: 50px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.apply-left {
    font-size: 1.5em;
    font-family: "Bitcount Grid Single", system-ui;

}

.apply-left p {
    font-family: "Roboto", sans-serif;
    font-size: 0.6em;
    font-weight: 200;
}

.footer {
    background-color: rgb(119, 52, 52);
    padding: 0 300px;
    height: 80px;
    margin: 0;
    font-size: 1.3em;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-family: "Bitcount Grid Single", system-ui;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Bitcount Grid Single", system-ui;

}

h3 {
    margin: 0;
    font-weight: 200;
    font-style: italic;
}

h4 {
    margin: 0;
}

img {
    border-radius: 30px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 18px;
}

a:hover {
    color: rgb(230, 117, 12);
}

button {
    font-size: 1em;
    font-weight: 900;
    font-family: "Bitcount Grid Single", system-ui;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0.5px solid white;
    width: 350px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.3)
}

button:hover {
    background-color: rgb(230, 98, 58);
    cursor: pointer;
}